# Source & build tooling — not needed at runtime
src/
esbuild.config.mjs
tsconfig*.json
biome.json
compose.yaml

# Dev environment
.vscode/
.git/
.gitignore

node_modules/**
!node_modules/oracledb/**
!node_modules/node-sqlite3-wasm/**

# Misc
**/*.map
**/.DS_Store